/* regola di reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* regola font pagina */
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, sans-serif, Arial;
}

/* regole header */
header{
    width: 100%;
    background-color:rgb(253, 95, 38);
    height: 60px;
    display: flex;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.header{
    display: flex;
    width: calc(100% / 3);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button.header-left, .header-right{
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    padding: 5px;
}

.logo{
    width: 150px;
}

/* regole main */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.card{
    position:relative
    
}

.immagine{
    width: 300px;
    margin: 20px;
}



.non-visibile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.card:hover .non-visibile{
    display: block;
}

.cuore{
    position:absolute;
    top: 20px;
    right:20px;
    background-color: #fff;
    padding:10px;
}

.cuore.rosso{
    color: red;
    display: none;
}

.card:hover .rosso{
    display:block;
}

.contenitore-interno{
    position: absolute;
    bottom: 60px;
    left:20px;
    display: flex;
}

.sconto{
    background-color: red;
    padding: 5px;
    width: fit-content;
    color: #fff;
}

.sost{
    background-color: green;
    padding: 5px;
    width: fit-content;
    color: #fff;
}

.big{
    position:relative;
    margin-bottom: 70px;
}

.info{
    position:absolute;
    left: 20px;
    
}

.prezzo_rosso{
    color: red;
}

 .prezzo_barrato{
    color: gray;
    text-decoration:line-through;
 }

 .brand{
     color: gray;
 }

 /*regole footer*/
 footer{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .left_footer>h4, span{
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
 }

 .right_footer>span{
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
 }
