/* regola di reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* regola font pagina */
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, sans-serif, Arial;
}

/* regole header */
header{
    width: 100%;
    background-color:rgb(253, 95, 38);
    height: 60px;
    display: flex;
}

.header{
    display: flex;
    width: calc(100% / 3);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button.header-left, .header-right{
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    padding: 5px;
}

.logo{
    width: 150px;
}

/* regole main */
main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.card{
    position:relative
}

.immagine{
    width: 300px;
    margin: 20px;
}

.non-visibile{
    display: none;
    position:absolute;
}

.card:hover .non-visibile{
    display: block;
}

.cuore{
    
}

